.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        margin-left: 18px;
        font-size: 32px;
    }

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

}